.parent-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70vh;
  /* background: linear-gradient(45deg, magenta, skyblue); */
  background-color: #cdc1ff;
}
.slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotateImgr 30s linear infinite;
}
@keyframes rotateImgr {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.slider span .imgr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 2s;
}
.slider span:hover .imgr {
  transform: translateY(-50px) scale(1.2);
}
