.section-services {
  width: 100%;
  height: auto;
  padding: 4rem 2rem;
  background-color: #cdc1ff;
}
.section-services h2 {
  font-size: 2rem;
  color: #8a70f3;

  display: inline-block;
}
.section-services .services-para {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.services-grid {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 450px);
  grid-auto-rows: 450px;
  gap: 15px;
  padding: 1rem;
}
.grid-items {
  background: linear-gradient(40deg, #8a70f3, #d6d2e6);
  padding: 1rem;
  border-radius: 20px;
  display: grid;
  place-items: center; /*ass new*/
  transition: all 0.2s linear;
}
.grid-items:hover {
  transform: scale(1.03);
}
.grid-items .skill-div {
  height: 11rem;
  width: 11rem;
  border: 3px solid #5228f9;
  border-radius: 50%;
  box-shadow: 0px 1px 12px #5228f9;
}
.grid-items .skill-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.grid-items strong {
  color: #5228f9;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: inline-block;
}
.grid-items p {
  margin-top: 0.5rem;
  text-align: center;
  line-height: 25px;
}
.grid-items button {
  padding: 1rem;
  width: 14rem;
  background: linear-gradient(40deg, #8a70f3, white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.grid-items button a {
  color: #5228f9;
  font-weight: 700;
  font-size: 1.2rem;
}
.grid-items button:hover {
  background: linear-gradient(40deg, #5228f9, white);
  transform: scale(1.1);
  color: black;
}
/* services secntion end here */
