@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  @apply p-[0] m-[0] font-sans list-none no-underline;
}
.links-div ul li a {
  @apply text-black font-normal relative;
}
.links-div ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid black;
  border-radius: 10px;
  width: 0%;
  margin-top: 18px;
  transition: all 0.2s linear;
}
.links-div ul li a:hover::before {
  width: 100%;
  border-bottom-color: rgb(134, 88, 241);
}
/* navbar end here */
.home-main {
  grid-template-rows: minmax(500px, 600px);
  grid-auto-rows: 500px;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}
.grid-1 button {
  background: linear-gradient(40deg, #8a70f3, white);
}
.custom-shape-divider-bottom-1729883666 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1729883666 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 111px;
}
.custom-shape-divider-bottom-1729883666 .shape-fill {
  fill: #cdc1ff;
}
/* home section end from here */

.services-grid {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}
.grid-items {
  background: linear-gradient(40deg, #8a70f3, #d6d2e6);
  @apply p-4
  rounded-[20px]
  grid place-items-center;
}
.grid-items .skill-div {
  @apply h-[11rem] w-[11rem] border-[3px] border-[#5228f9] rounded-full;
}
.grid-items .skill-div img {
  @apply w-full h-full object-cover rounded-full;
}
.grid-items strong {
  @apply text-[#5228f9] text-[1.5rem] mt-4 inline-block;
}
.grid-items p {
  @apply mt-[0.5rem] text-center leading-[25px];
}

.grid-items button {
  background: linear-gradient(40deg, #8a70f3, white);
  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  @apply w-[14rem] p-[0.8rem] border-none rounded-[20px] cursor-pointer mt-[.5rem];
}
.grid-items button a {
  @apply text-[#5228f9] font-[700] text-[1.2rem];
}
.grid-items button:hover {
  background: linear-gradient(40deg, #5228f9, white);
  transform: scale(1.1);
  color: black;
}
/* section services end here */
.contact-div {
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(2, minmax(290px, 1fr));
  grid-auto-rows: 50px;
  grid-auto-columns: auto;
  height: auto;
}
.contact-items {
  @apply bg-[#e5d9f2] rounded-[5px] pl-[0.2rem];
}
.contact-item5 {
  @apply col-span-2;
}
.contact-items {
  @apply flex items-center;
}
.info-flex {
  @apply flex items-center rounded-[2px] p-[2px] w-full h-auto;
}
.info-flex label {
  @apply inline-block w-[8rem];
}
.contact-inputs {
  @apply rounded-[5px] p-4 w-full border-0 outline-none bg-transparent;
}

.send-message-btn {
  background: linear-gradient(40deg, #8a70f3, white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.send-message-btn:hover {
  background: linear-gradient(40deg, #5228f9, white);
  transform: scale(1.1);
}
/* section contact end here */
.section-footer {
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  background: linear-gradient(40deg, #8a70f3, #d6d2e6);
}
.common-footer {
  @apply p-4 flex flex-col justify-between;
}
.icon-div {
  @apply w-[10rem] text-[2rem] justify-around flex;
}
.fa-brands:hover {
  @apply text-[#5228f9]
  text-[2.2rem];
}
.common-footer a {
  @apply text-black;
}
.common-footer h3 {
  @apply text-[1.2rem] font-[700];
}
.footer3 .store-div {
  @apply flex gap-[3px];
}
/* section services end here */
@media (max-width: 1320px) {
  .section-services {
    height: auto;
  }
  .services-grid {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .section-footer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 1240px) {
  .grid-2 .img-div {
    @apply w-[30rem] h-[30rem];
  }
  .store-div {
    @apply flex-col;
  }
}

@media (max-width: 1030px) {
  .home-main {
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    @apply h-[90vh] mt-[5rem];
  }

  .grid-2 {
    @apply hidden;
  }
  .grid-1 {
    @apply pt-4;
  }
}

@media (max-width: 1001px) {
  .footer3 {
    @apply col-span-2;
  }
}

@media (max-width: 920px) {
  .services-grid {
    @apply p-[0.1rem];
  }
  .inner-nav .links-div ul {
    @apply gap-[1.5rem];
  }
  .section-services .services-para {
    @apply text-[1rem] leading-[30px];
  }
  .grid-1 p {
    @apply text-[1rem] leading-[30px];
  }
}

@media (max-width: 800px) {
  .section-contact {
    @apply w-full h-auto p-[0.2rem];
  }
  .contact-div {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    @apply h-auto w-full p-[0.2rem];
  }
  .contact-item5 {
    @apply col-span-1 h-auto;
  }
  .send-message-btn {
    @apply justify-center items-center;
  }
}

/* New Addition */
@media (max-width: 800px) {
  .contact-item5 {
    @apply h-auto col-span-2;
  }
}

/* New Addition */
@media (max-width: 620px) {
  .contact-item5 {
    @apply h-auto col-span-1;
  }
}

@media (max-width: 692px) {
  .footer3 {
    @apply col-span-1;
  }
}

@media (max-width: 680px) {
  .inner-nav {
    @apply p-[0.5rem] w-[90%] justify-start flex-col;
  }
}

@media (max-width: 580px) {
  .custom-shape-divider-bottom-1729883666 svg {
    @apply h-[60px];
  }
}

@media (max-width: 420px) {
  .custom-shape-divider-bottom-1729883666 svg {
    @apply h-[50px];
  }
  .section-services {
    @apply p-[0.5rem] pt-[4rem];
  }
  .home-main {
    @apply h-[80vh] p-[0.2rem] pt-[1rem];
  }
  .grid-1 {
    @apply flex flex-col items-center  p-[0.2rem];
  }
  .grid-1 h1 {
    @apply text-[1.5rem];
  }
  .grid-1 p {
    @apply text-center;
  }
  .section-footer {
    @apply p-[0.2rem];
  }
}

@media (max-width: 320px) {
  .home-main {
    @apply h-screen;
  }
}
